
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
public/unity
src/lib/models
static/models*
# static/animations*
static/*.onnx
static/*.wasm
static/backgrounds
static/sermas-repository*
static/repository*
static.*/

# Editor directories and files

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
