@mixin mobile-view {
    @media (max-width: 1200px) {
        @content;
    }
}

// Set your brand colors
$palette1: #64539e;
$palette2: #5965AC;
$palette3: #3F85C6;
$palette4: #3893CC;
$palette5: #41A3C3;
$palette6: #F9CF4D;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: #333;
$grey-light: #BBB;
$primary: $palette1;
$secondary: $palette5;
$link: $palette2;